@use '../abstracts/' as *;

.theme {
  &--haiti {
    background-color: #17062a;
    color: #ffe53d;

    .theme-switch {
      &__radio-inputs {
        background-color: #331c4d;

        .theme-input {
          background-color: #00ded0;

          &:hover {
            background-color: #93fff8;
          }
        }
      }
    }
    .calculator__result-bar {
      background-color: #1e0936;

      &-left {
        button {
          color: #00ded0;
          &:hover {
            color: #93fff8;
          }
        }
      }
    }

    .calculator__main {
      background-color: #1e0936;
    }

    .history {
      color: #eae3dc;

      li {
        background-color: #00ded0;
        color: #1a2327;

        &:hover {
          background-color: #93fff8;
        }
      }
    }

    .button {
      &:focus-visible {
        outline-color: #00ded0;
      }

      &--beige {
        background-color: #331c4d;

        &:hover {
          background-color: #6c34ac;
        }
      }

      &--grey {
        background-color: #56077c;
        color: white;

        &:hover {
          background-color: #8631af;
        }
      }

      &--orange {
        background-color: #00ded0;
        color: #1a2327;

        &:hover {
          background-color: #93fff8;
        }
      }
    }
  }
}
