// Theme - Tealish-Blue

$clr-teal-bg: linear-gradient(to right, #16222a, #3a6073);
$clr-teal-bg-2: rgba(255, 255, 255, 0.1);

$clr-teal-text: #434a59;
$clr-teal-text-2: #eae3dc;

$clr-teal-accent: #eae3dc;
$clr-teal-accent-2: #1d976c;
$clr-teal-accent-3: transparent;

$clr-teal-hover: #fffffe;
$clr-teal-hover-2: #93f9b9;
$clr-teal-hover-3: #1d976c;

// Theme - Platinum

$clr-platinum-bg: linear-gradient(to right, #ddefbb, #ffeeee);
$clr-platinum-bg-2: rgba(0, 0, 0, 0.1);

$clr-platinum-text: #36362c;
$clr-platinum-text-2: #eae3dc;

$clr-platinum-accent: #eae3dc;
$clr-platinum-accent-2: #378187;
$clr-platinum-accent-3: #c85402;

$clr-platinum-hover: #fffffe;
$clr-platinum-hover-2: #62b5bc;
$clr-platinum-hover-3: #ff8a38;

// Theme - Haiti

$clr-haiti-bg: linear-gradient(to right, #49a09d, #5f2c82);
$clr-haiti-bg-2: rgba(0, 0, 0, 0.1);

$clr-haiti-text: #eae3dc;
$clr-haiti-text-2: #1a2327;

$clr-haiti-accent: #331c4d;
$clr-haiti-accent-2: #56077c;
$clr-haiti-accent-3: #00ded0;

$clr-haiti-hover: #6c34ac;
$clr-haiti-hover-2: #8631af;
$clr-haiti-hover-3: #93fff8;

// Breakpoints

$breakpoints: (
  xsmall: 22em,
  small: 36em,
  medium: 48em,
  large: 62em,
  xlarge: 75em,
  xxlarge: 93em,
);
