@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

#root {
  background-color: #3a4663;
  font-family: 'League Spartan', sans-serif;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 300px;
  margin: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    &-left {
      font-size: 32px;
    }

    &-right {
      display: flex;
      align-items: flex-end;
      gap: 1.5rem;
      font-size: 12px;
      letter-spacing: 1px;

      span {
        margin-bottom: 0.2rem;
      }
    }
  }

  &__result-bar {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: #181f33;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

    div {
      width: fit-content;
      height: fit-content;
    }

    &-left {
      align-self: center;
      justify-self: flex-start;
      padding: 0.5rem;
      border-radius: 10px;
      font-size: 18px;

      button {
        background-color: #181f33;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #f96b5b;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-self: flex-end;
    }

    .header {
      width: fit-content;
      margin: 0;
      text-align: end;
    }

    .header--s {
      height: 26px;
    }

    .header--m {
      font-size: 36px;
    }

    .header--l {
      font-size: 46px;
    }
  }

  &__main {
    height: 310px;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #242d44;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transition: opacity 0.3s ease-in-out, transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);

    .button:active {
      transform: translateY(2px);
    }

    li {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    li:nth-last-child(2) {
      grid-column: span 2;
    }

    li:nth-last-child(1) {
      grid-column: span 2;
    }
  }
}

.theme-switch {
  &__themes {
    display: flex;
    justify-content: space-around;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    width: 71px;
    height: 26px;
    padding: 0.3rem 0.3rem;
    border-radius: 50px;
    background-color: #242d44;

    input {
      height: 16px;
      width: 16px;
      border-radius: 50%;
      appearance: none;
      background-color: #d03f2f;
      opacity: 0;

      &:hover {
        cursor: pointer;
        background-color: #f96b5b;
      }
    }

    #theme-one {
      opacity: 1;
    }
  }
}

.button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-in-out;

  &:focus-visible {
    outline-width: 3px;
    outline-color: #a2b2e1;
    outline-style: dotted;
    outline-offset: 5px;
  }

  &--beige {
    background-color: #eae3dc;
    color: #434a59;
    font-size: 36px;

    &:hover {
      background-color: #fffffe;
    }
  }

  &--grey {
    padding-top: 5px;
    background-color: #647198;
    color: white;
    font-size: 22px;
    grid-column: 3/4;

    &:hover {
      background-color: #a2b2e1;
    }
  }

  &--orange {
    background-color: #d03f2f;
    color: white;
    font-size: 22px;

    &:hover {
      background-color: #f96b5b;
    }
  }
}

.history-container {
  background-color: #3a4663;
  padding: 10rem;
  border-radius: 8px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  .button {
    border-radius: 10px;
  }
}

.history {
  display: flex;
  justify-content: center;
  color: #eae3dc;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 250px;
    width: 100%;
  }

  li {
    height: fit-content;
    background-color: #647198;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #a2b2e1;
    }

    button {
      width: 100%;
      height: 100%;
      padding: 0.5rem 0;
      letter-spacing: 5px;
    }
  }
}

.opacity {
  transform: scale(0.9);
  opacity: 0;
}
